.resetPasswordContainer {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
    position: fixed;
    top: 0%;
    left: 0;

    .resetPasswordBox {
        background-color: white;
        width: 40vw;
        height: 60vh;
        box-sizing: border-box;
        overflow: hidden;

        .resetPasswordHeading {
            text-align: center;
            color: rgba(0, 0, 0, 0.664);
            font-size: 24px;
            padding: 1rem;
            border-bottom: 1px solid rgba(0, 0, 0, 0.205);
            width: 80%;
            margin: auto;
        }

        .resetPasswordForm {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;
            padding: 1rem;
            justify-content: space-evenly;
            height: 70%;
            transition: all 0.5s;

            > div {
                display: flex;
                width: 100%;
                align-items: center;

                > input {
                    padding: 1rem 2rem;
                    padding-right: 1rem;
                    width: 100%;
                    box-sizing: border-box;
                    border: 1px solid rgba(0, 0, 0, 0.267);
                    border-radius: 4px;
                    font-size: 18px;
                    outline: none;
                }

                > svg {
                    position: absolute;
                    transform: translateX(1vmax);
                    font-size: 1.1rem;
                    color: rgba(0, 0, 0, 0.623);
                }
            }

            .resetPasswordBtn {
                border: none;
                background-color: var(--main_color_100);
                color: white;
                font-size: 18px;
                width: 100%;
                padding: 0.5rem;
                cursor: pointer;
                transition: all 0.5s;
                border-radius: 4px;
                outline: none;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);

                &:hover {
                    background-color: var(--main_color_70);
                }
            }
        }
    }
}

@media screen and (min-width: 900px) {
    .resetPasswordContainer {
        .resetPasswordBox {
            width: 60vw;
        }
    }
}

@media screen and (max-width: 700px) {
    .resetPasswordContainer {
        background-color: white;

        .resetPasswordBox {
            width: 100vw;
            height: 95vh;
            margin-top: 10rem;

            .resetPasswordForm {
                padding: 2rem;

                > div {
                    > input {
                        padding: 1.2rem 2.5rem;
                        
                    }

                    > svg {
                        font-size: 1.5rem;
                    }
                }

                .resetPasswordBtn {
                    font-size: 19px;
                    padding: .6rem;
                }
            }
        }
    }
}
