.CartItemCard {
    display: flex;
    padding: 1rem;
    height: 8rem;
    align-items: flex-start;
    box-sizing: border-box;

    > img {
        width: 6rem;
        object-fit: cover;
    }

    > div {
        display: flex;
        margin: 0.3rem 1rem;
        flex-direction: column;

        > a {
            font-size: 20px;
            color: rgba(24, 24, 24, 0.815);
            text-decoration: none;
        }

        > span {
            font-size: 18px;
            color: rgba(24, 24, 24, 0.815);
        }

        > p {
            color: var(--main_color_100);
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 600px) {
    .CartItemCard {
        padding: 3vmax;
        height: 25vmax;

        > img {
            width: 10vmax;
        }

        > div {
            margin: 1vmax 2vmax;

            > a {
                font-size: 14px;
            }

            > span {
                font-size: 13px;
            }

            > p {
                font-size: 12px;
            }
        }
    }
}
