.reviewCard {
    flex: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.603);
    border: 1px solid rgba(56, 56, 56, 0.116);
    background: rgb(243, 243, 243);
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vmax;
    padding: 1rem;

    img {
        width: 40px;
        object-fit: cover;
    }

    p {
        color: rgba(0, 0, 0, 0.836);
        font-size: 14px;
    }

    .MuiRating-root {
        color: rgb(73, 73, 73);
        margin: 8px;
    }

    .reviewCardComment {
        color: rgba(0, 0, 0, 0.699);
        font-size: 20px;
    }
}
