.sidebar-container {
    background-color: #fff;
    z-index: 5000;
}

.sidebar {
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 3rem 0 ;
    margin: 40% 0 0 1rem;
    height: auto;
}

.sidebar > a:first-child {
    // padding: 0;
}

.sidebar > a > img {
    width: 100%;
    transition: all 0.5s;
}

.sidebar > a > img:hover {
    filter: drop-shadow(0 0 10px crimson);
}

.sidebar a {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    padding: 2rem;
    transition: all 0.5s;
}

.sidebar a:hover {
    color: crimson;

    // transform: scale(1.1);
}

.sidebar a > P {
    display: flex;
    align-items: center;
}

.sidebar a > p > svg {
    margin-right: 0.5rem;
    font-size: 2rem;
}

.MuiTypography-root {
    background-color: #fff !important;
}

.MuiTreeItem-iconContainer svg {
    font-size: 2rem !important;
}

.MuiTypography-body1 {
    font-size: 1.5rem !important;
}

.MuiTypography-root {
    background-color: transparent !important;
}
